<div class="container users-page">

  <div class="row">
    <div class="col-md-9">

      <div class="not-current-user well">
        Get the best new product discoveries in your inbox daily!
        <form accept-charset="UTF-8" action="/subscribers" class="new_subscriber" data-remote="true" id="new_subscriber" method="post"><div style="display:none"><input name="utf8" type="hidden" value="✓"></div>
          <input id="subscriber_email" name="subscriber[email]" placeholder="Your email" type="email">
          <input name="commit" type="submit" value="Subscribe">
        </form>
      </div>

      <ul class="users">
        <% @users.each do |user| %>
          <li class="item clearfix">
            <div class="avatar pull-left">
              <%= link_to user do %>
                <%= image_tag user.avatar %>
            <% end %>
            </div>
            <div class="username pull-left">
              <%= link_to user.name, user %>
            </div>
            <div class="app-list pull-left">
              <ul class='user-list clearfix'>
                <% user.top_10_apps.each do |app| %>
                  <li class="app-icon pull-left">
                    <%= link_to "#" do %>
                      <%= image_tag app.logo %>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </div>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="col-md-3">
      <div class="top-apps">
        <div class="header">
          Top Apps
        </div>
        <ul class="apps clearfix">
          <% @top_apps.each do |app| %>
            <li class='item pull-left'>
              <%= image_tag app.logo %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
