<div class="container main">
  <div class="row">
    <div class="col-md-9">

      <%= render "shared/mail_submit" %>

      <ul class="users">
        <% @users.each do |user| %>
          <li class="item clearfix">
            <div class="avatar pull-left">
              <%= link_to user do %>
                <%= image_tag user.avatar %>
            <% end %>
            </div>
            <div class="username pull-left">
              <%= link_to user.name, user %>
            </div>
            <div class="app-list pull-left">
              <ul class='user-list clearfix'>
                <% user.top_10_apps.each do |app| %>
                  <li class="app-icon pull-left">
                    <%= link_to app.appstore_path, target: "_blank" do %>
                      <%= image_tag app.logo %>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </div>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="col-md-3">
      <%= render "shared/top_list" %>
    </div>
  </div>
</div>
