<div class="container main">
  <div class="row">
    <div class="col-md-9">
      <%= render "shared/mail_submit" %>

      <ul class="apps">
        <% resource.top_10_apps.each do |app| %>
          <li class="app clearfix">

            <div class="logo pull-left">
              <%= link_to app.appstore_path, target: "_blank" do %>
                <%= image_tag app.logo %>
              <% end %>
            </div>

            <div class="app-name pull-left">
              <%= link_to app.appstore_path, target: "_blank" do %>
                <%= app.name %>
              <% end %>
            </div>

          </li>
        <% end %>
      </ul>
    </div>

    <div class="col-md-3">
      <%= render "shared/top_list" %>
    </div>
  </div>
</div>
