<div class="container main app-show">
  <div class="row">
    <div class="col-md-9">
      <div class="app-detail clearfix">
        <div class="logo pull-left">
          <%= link_to resource.appstore_path do %>
            <%= image_tag resource.logo %>
          <% end %>
        </div>

        <div class="detail-info pull-left">
          <div class="app-name">
            <%= resource.name %>
          </div>
          <div class="collectors clearfix">
            <% resource.collectors.each do |user| %>
              <div class="collector pull-left">
                <%= link_to user do %>
                  <%= image_tag user.avatar %>
                <% end %>
              </div>
            <% end %>
          </div>
          <div class="desc">
            <%= truncate resource.description, length: 200 %>
          </div>
        </div>
      </div>

      <div class="comments">
        <% if resource.comments.count > 0 %>
          <% resource.comments.each do |comment| %>
            <div class="comment clearfix">
              <div class="avatar pull-left">
                <%= link_to comment.user do %>
                  <%= image_tag comment.user.avatar %>
                <% end %>
              </div>
              <div class="content pull-left">
                <%= comment.content %>
              </div>
            </div>
          <% end %>
        <% else %>
          <div class="no-comments">
            No Comments Yet
          </div>
        <% end %>
      </div>

      <% if current_user %>
        <div class="comment-box clearfix">
          <%= form_for [resource, resource.comments.build], remote: true do |f| %>
            <%= f.hidden_field :user_id, value: current_user.id %>
            <%= f.text_area :content, class: 'form-control' %>
            <%= submit_tag 'Post', class: 'btn btn-default' %>
          <% end %>
        </div>
      <% end %>

    </div>
    <div class="col-md-3">
      <%= render "shared/list_area", lists: @related_apps, title: "Related Hot Apps" %>
    </div>
  </div>
</div>
