<!DOCTYPE html>
<html>
<head>
  <title>Applist</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="http://webapi.amap.com/maps?v=1.2&key=d103ee8305c6d4d6447841f959986a46" type="text/javascript"></script>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<nav>
  <div class="container">
    <%= link_to users_path, class: 'brand orange' do %>
      <%= image_tag "applist@2x.png" %>
    <% end %>
    <div class="link pull-right">
      <%= link_to "Map", map_path %>
      |
      <% if current_user %>
        <%= link_to "My Apps", current_user %>
        |
        <%= link_to "Logout", logout_path, method: :delete %>
      <% else %>
        <%= link_to "Login", root_path %>
      <% end %>
    </div>
  </div>
</nav>

<%= yield %>

</body>
</html>
