<!DOCTYPE html>
<html>
<head>
  <title>Applist</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<nav>
  <div class="container">
    <%= link_to "App List", users_path, "target" => :blank, class: 'brand orange' %>
  </div>
</nav>

<%= yield %>

</body>
</html>
